body {
	font-family: 'Aileron', 'Montserrat', sans-serif;
}

body a {
	color: #777;
	text-decoration: none;
}

header, main {
	display: flex;
    justify-content: center;
}

.header-content h1 {
	display: flex;
    justify-content: center;
}

.header-content a {
	padding: 0 10px;
	font-weight: bolder;
}

.main-content {
    max-width: 50%;
}

.pictures {
	text-align: center;
}

table, th, td {
	border:1px solid black;
}
